*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: #f9f9f9;
}
.container{
     background: url('./images/hero.png') center center/cover no-repeat;
}
.header{
   
    display: flex;
    justify-content: space-around;
    padding-top: 24px;
    align-content:baseline;
    padding-bottom: 24px;
    color: white;
    margin-bottom: 24px;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:30px;
    align-items: baseline;
}
.menu>a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.rightsection{
    display: flex;
    gap: 30px;
}
.rightsection >button{
    border: none;
    background: none;
    margin-top: -4px;
    color: white;
    font-size: 20px;
}
.rightsection >div{
    background-color: blue;
    padding: 4px 24px 4px 24px;
    font-size: 20px;
    display: flex;
    color: white;
    gap: 10px;
    border: none;
    border-radius: 12px;
    align-items: center;
}
.rightsection >div> ion-icon{
 color: white;
 font-size: 20px;
}
.hero {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
}

.hero .overlay {
  padding: 1em;
  border-radius: 10px;
}
.hero .overlay>h1{
    font-size: 45px;
    font-weight: bolder;
    margin-top: -24px;
}
.hero .overlay> p{
    padding-top: 22px;
    padding-bottom: 35px;
}
.hero-buttons .btn {
  margin: 1em 1em;
}
.btn {
  padding: 12px 20px;
  border-radius: 20px;
  font-weight: bold;
  text-decoration: none;
}
.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
}
.btn-secondary {
  border: white 1px solid;
  color: white;
}
.features{
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: -3em;
}
.feature-card{
 background-color: white;
 color: black;
  width: 20%;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-left: 2px;
  margin-top: 2px;
  box-shadow: black;
}
.feature-card>ion-icon{
 font-size: 26px;
 color: #007bff;
 font-weight: bolder;
}
.feature-card> h3{
 margin-bottom: 6px;
}
.highlighted{
 background-color: #007bff;
 color: white;
}
.highlighted> ion-icon{
  color: white;
}

.content{
  margin-top: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  gap: 6em;
}
.content-card{
  margin-top: 4em;
  margin-bottom: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-card> ion-icon{
  margin-bottom: 9px;
  font-size: 60px;
  font-weight: bold;
  color: #007bff;
}
.content-card> h3{
  margin-bottom: 9px;
}
.content-card>p{
  height: 4px;
}
.industry {
  text-align: center;
  padding: 2em;
}

.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 40px;
}

.testimonial {
  margin-top: 3em;
  width: 25%;
  padding: 2em 3em 2em 3em;
  border: rgb(99, 99, 99) 1px solid;
}
.testimonial> img{
  width: 70%;
  height: 70%;
  margin-bottom: 12px;
}
.industry>h2{
  margin-top: 3em;
  font-weight: bolder;
  font-size: 30px;
  padding-bottom: 10px;
}
.industry>p{
font-size: 19px;
}
.stars{
 margin-top: 12px;
}
.logos {
  margin-top: 10em;
  display: flex;
  justify-content: center;
  gap: 2em;
  padding: 2em;
}
.logos> img{
  width: 150px;
  height: 150px;
}
.subs{
  margin-top: 3em;
  margin-left: 8em;
  margin-right: 8em;
  padding: 2em 3em 2em 3em;
  background-image: linear-gradient(to right, rgb(5, 5, 87), purple);
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  gap: 19em;
  color: white;
}
.details{
  display: flex;
  gap: 0;
  background-color: white;
}
.subscribe {
  padding: 14px;
  background-color: blue;
  color: white;
  text-align: center;
  font-size: 17px;
  border: 1px white solid;
}
.input{
  padding: 14px;
  background-color: white;
  border: 1px white solid;
}
.pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.pricing h2 {
    font-size: 38px;
    margin-bottom: 20px;
}

.pricing p {
    font-size: 18px;
    color: grey;
}

.plans {
    display: flex;
    gap: 5px;
    margin-top: 60px;
}

.prices {
    background-color: white;
    padding: 30px;
    width: 300px;
    height: 600px;
    border: 1px solid #1E90FF;
}

.prices-standard {
    background-color: #10103e;
    padding: 30px;
    width: 400px;
    height: 600px;
    border: none;
    color: white;
}

.prices-standard .prices-header h3  {
    color: white;
}

.prices-standard .prices-header p {
    color: white;
}


.prices-standard .prices-info p {
    color: white;
}

.prices-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prices-header h3 {
    font-size: 32px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.prices-header p {
    font-size: 18px;
    color: #575353;
}

.price {
    display: flex;
    margin-top: 30px;
    color: #1E90FF;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 20px;
}

.dollar span {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 3px;
}

.prices-info p {
    color: black;
    margin-top: 20px;
}

.prices-info ion-icon {
    margin-right: 10px;
    color: #079727;
    font-size: 24px;
}
#unchecked{
    color: #4e524f;
    font-size: 24px;
}
.prices-info button {
    background-color: #1E90FF;
    border: none;
    width: 100%;
    padding: 10px 20px;
    margin-top: 30px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}
#standard{
  margin-top: -12px;
  background-color: rgb(43, 43, 43);
  color: white;
}
#standard .prices-info> p{
  color: white;
}
.branches {
    background-color: #10103e ;
    display: flex;
    justify-content: space-between;
    padding: 90px;
    margin-top: 5em;
    color: rgb(187, 186, 183);
    min-height: 600px;
}
.right{
  margin-left: 30px;
}
.right> h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
    color: white;
}

.right>p {
    font-size: 16px;
    line-height: 1.5;
}
.left{
  margin-right: 30px;
}
.left> img {
    width: 400px;
}
.appointment{
  display: flex;
  justify-content: center;
}
.wrapper{
  display: flex;
  background-color: white;
  gap: 10px;
  margin-top: -200px;
  width: 800px;
}
.wrapper>img {
  margin: 0;
  padding: 0;
  width: 300px;
  height: 500px;
}
.form1{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form1>h2{
  margin-top: 20px;
}
form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 450px;
  margin: 25px;
}
form>input{
 line-height: 20px;
 background-color: rgb(201, 201, 201);
 border: none;
 padding: 10px;
}
form>select{
padding: 15px;
 background-color: rgb(201, 201, 201);
 border: none;
}
form>button{
  margin-left: 16px;
  width: 400px;
  align-items: center;
  height: 40px;
  margin-top: 5px;
  background-color: #1E90FF;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.required{
  color: red;
}
.contact-us{
  display: flex;
  justify-content: center;
  margin-top: 4em;
  gap: 20em;
  margin-bottom: 1em;
}
.contact-p>h3{
  font-size: 24px;
}
.contact-btn>button{
  background-color: #1E90FF;
  color: white;
  border: none;
  font-size: 16px;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
}
.companydetails {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  gap: 40px;
}
.company-info{
  margin-top: 2em;
 margin-left: 0;
 padding: 0;
}
.company-info h3 {
    font-size: 28px;
    margin-bottom: 30px;
}

.company-info p {
    color: gray;
    font-size: 16px;
    margin-bottom: 15px;
}